
/* ------ global variables ------ */

body {
	font-family: arial;
	margin: 0 auto;
	padding: 0;
}

.page-wrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: white;
}

/* fixed-top-menu-bar and menu-header(s) */

.fixed-top-menu-bar {
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0px;
	background-color: #364A5A;
	z-index: 999;
}

/* mobile menu */

.mobile-menu-button-container {
	height: 50px;
	width: 50px;
	margin: 5px auto;
	float: left;
}

.mobile-menu-button {
	height: 100%;
	width: 100%;
	background-image: url('https://ddiostips.files.wordpress.com/2013/12/burger.png?w=470');
	background-size: cover;
	background-position: center;
}

.mobile-menu {
	display: none;
	position: absolute;
	width: 100%;
	top: 44px;
	left: 0;
	background-color: #455B6D;
	z-index: 998;
}

.top-menu-header {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.mobile-header, .desktop-header {
	font-size: 28px;
	margin: 0;
	padding: 15px 20px 10px;
	text-align: center;
	color: white;
}

.mobile-menu-anchor, .menu-anchor {
	display: block;
	width: 100%;
	margin-left: -40px;
	padding: 15px;
	color: white;
	text-decoration: none;
	border-bottom: 1px solid #364A5A;
}

.mobile-menu-item {
	font-size: 16px;
	letter-spacing: 1px;
	list-style: none;
}

.desktop-header {
	display: none;
}

/* :hover */

.mobile-menu-anchor:hover, .menu-anchor:hover {
	color: #364A5A;
	background-color: #FEDA20;
}

/* Altenate Menu */

.alternate.menu, .alternate.menu-anchor, .alternate.menu-item {
	display: none;
}

/* Play button */

.play-button {
	height: 50px;
	width: 200px;
	margin: 150px auto 50px auto;
	background-color: #21B121;
}

.button-text {
	font-size: 24px;
	padding: 11px;
	margin: 0 auto;
	color: white;
	text-align: center;
	letter-spacing: 1px;
}

/* textboxes */

.textbox-container {
	display: none;
	height: 300px;
	width: 90%;
	margin: 100px auto 50px auto;
	background-color: red
}

.combat.textbox-container {
	height: 200px;
}

.textbox-prompt {
	margin: 0;
	padding: 15px 20px 25px;
	font-size: 18px;
	line-height: 24px;
}

/* Character selection panel &  Level selection panel */

.character-selection-panel, .level-selection-panel {
	display: none;
	width: 100%;
	margin: 50px auto;
	background-color: blue;
	overflow: hidden;
}

.character-card, .level-card {
	height: 300px;
	width: 250px;
	margin: 10px auto;
}

/* Characters & Levels */

/* Knight */
.knight.character-card {
	background-color: red;
}
/* Archer */
.archer.character-card {
	background-color: green;
}
/* Mage */
.mage.character-card {
	background-color: orange;
}
/* Cave */
.cave.level-card {
	background-color: black;
}
/* Forrest */
.forrest.level-card {
	background-color: lime;
}
/* City */
.city.level-card {
	background-color: yellow;
}

/* combat cards */

.combat-card-stage {
	display: none;
	height: 300px;
	width: 250px;
	margin: 50px auto;
	border: 2px solid red;
}









