
/* ------ global variables ------ */

body {
	font-family: arial;
	margin: 0 auto;
	padding: 0;
}

.page-wrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: white;
}

/* fixed-top-menu-bar and menu-header(s) */

.fixed-top-menu-bar {
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0px;
	background-color: #364A5A;
	z-index: 999;
}

.top-menu-header {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.mobile-header, .desktop-header {
	font-size: 28px;
	margin: 0;
	padding: 15px 20px 10px;
	text-align: center;
	color: white;
}

.desktop-header {
	display: none;
}

/* mobile menu */

.mobile-menu-button-container {
	height: 50px;
	width: 50px;
	margin: 5px auto;
	float: left;
}

.mobile-menu-button {
	height: 100%;
	width: 100%;
	background-image: url('https://ddiostips.files.wordpress.com/2013/12/burger.png?w=470');
	background-size: cover;
	background-position: center;
}

.mobile-menu {
	display: none;
	position: absolute;
	width: 100%;
	top: 44px;
	left: 0;
	background-color: #455B6D;
	z-index: 998;
}

.mobile-menu-anchor, .menu-anchor {
	display: block;
	width: 100%;
	margin-left: -40px;
	padding: 15px;
	color: white;
	text-decoration: none;
	border-bottom: 1px solid #364A5A;
}

.mobile-menu-item {
	font-size: 16px;
	letter-spacing: 1px;
	list-style: none;
}

/* :hover */

.mobile-menu-anchor:hover, .menu-anchor:hover {
	color: #364A5A;
	background-color: #FEDA20;
}

/* Alternate Menu */

.alternate.menu, .alternate.menu-anchor, .alternate.menu-item {
	display: none;
}

/* Mythos Sections */

.section {
	display: none;
	overflow: hidden;
	border-bottom: 1px solid #CCCACA;
}

.first.section {
	display: block;
	margin-top: 60px;
}

.character-selection.section {
	margin-top: 60px;
	background-color: white;
}

.level-selection.section {
	background-color: white;
}

.pre-combat.section {
	background-color: white;
}

.combat.section {
	margin-top: 60px;
	background-color: transparent;
}

/* buttons */

.play-button, .start-quest-button, .show-heroes-button, .show-levels-button, .combat-continue-button  {
	width: 200px;
	font-size: 18px;
	padding: 14px;
	color: white;
	margin: 50px auto;
	background-color: #0088cc;
	text-align: center;
}

/* textboxes */

.textbox-container {
	margin: 25px auto;
}

.textbox-prompt {
	margin: 0 auto;
	padding: 15px 25px 20px;
	font-size: 16px;
	color: #4C4C4C;
	line-height: 24px;
}

.selected-hero {
	background-color: red;
	color: white;
	padding: 2px 5px;
}

.selected-level {
	background-color: blue;
	color: white;
	padding: 2px 5px;
}

/* Character selection &  Level selection panel */

.character-selection-panel, .level-selection-panel {
	display: none;
	width: 100%;
	margin: 25px auto 50px auto;
	overflow: hidden;
}

.character-card, .level-card {
	height: 300px;
	width: 250px;
	margin: 10px auto;
}

/* ///////////////////////////////////////////////////////////////////////////// Heroes */

/* Knight */
.knight.character-card {
	background-color: red;
}
/* Archer */
.archer.character-card {
	background-color: green;
}
/* Mage */
.doctor.character-card {
	background-color: orange;
}
/* Knight */
.templar.character-card {
	background-color: red;
}
/* Archer */
.trapper.character-card {
	background-color: green;
}

/*///////////////////////////////////////////////////////////////////////////// Levels */

/* Cave */
.cave.level-card {
	background-color: black;
}
/* Forrest */
.forrest.level-card {
	background-color: lime;
}
/* City */
.city.level-card {
	background-color: yellow;
}
/* Cave */
.mountain.level-card {
	background-color: black;
}
/* Forrest */
.runes.level-card {
	background-color: lime;
}
/* City */
.desert.level-card {
	background-color: yellow;
}


/*///////////////////////////////////////////////////////////////////////////// Combat Page */

.combat-1.textbox-container {
	display: none;
	background-color: rgba(0,0,0,65);
	color: white;
}

.combat-2.textbox-container {
	display: none;
	background-color: rgba(0,0,0,65);
	color: white;
}

/* combat stage */

.combat-stage {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;  
}

#hero-character {
    background-color: green;
    left: -150%;
}

#stage {
	display: none;
    background-color: lime;
}

#randomized-character {
    background-color: red;
    left: 150%;
}

/* combat-card */

.combat-card {
    position: absolute;
    width: 90%;
    height: 485px;
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    left: 5%;
    top: 50px;
}

.character-name {
	position: absolute;
    background-color: #00F;
    left: 25%;
    width: 50%;
    padding: 5px 0;
}

.stage.combat-card {
	height: 35px;
	padding-top: 10px;
	font-size: 20px;
	background-color: transparent;
}

.character-image {
	height: 300px;
	margin: 0;
    background-color: #8A2BE2;
}

.character-content-panel {
	height: 185px;
	margin: 0;
	background-color: red;
	overflow: hidden;
}

.moves-button {
	height: 45px;
	font-size: 15px;
	color: white;
	margin: 1px auto;
	background-color: #0088cc;
	text-align: center;
	overflow: hidden;
}

.move-name, .move-counter {
	width: 65%;
    height: 100%;
    float: left;
    margin: 0;
    padding-top: 12px;
    background-color: #008080;
}

.move-counter {
	width: 35%;
	float: right;
	background-color: orange;
}










